<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<form action="/form/submit" method="get">
    {% csrf_token %}
    <p>
        姓名：<input type="text" name="user">
    </p>
    <p>
        年龄：<input type="text" name="age">
    </p>
    <p>
        <input type="submit" value="提交">
    </p>
</form>

<button id="submit">点击以JSON格式提交固定内容</button>
<h3>返回信息：<span id="res">空</span></h3>
<script>
    $("#submit").click(function () {
        let data = {
            content: '这里是测试内容'
        }
        $.ajax({
            url: '/form/json',
            type: 'post',
            headers: {
                // 要加 csrf 的请求头，如下
                "X-CSRFToken": '{{ csrf_token }}',
                // 要改请求头，以 json 格式发送信息
                'Content-Type': 'application/json',
            },
            // 发送的数据要先转为 json 格式
            data: JSON.stringify(data),
            // 告诉服务器返回信息要以json格式返回
            dataType: "json",
        }).done(function (result) {
            // 打印返回结果
            console.log(result)
            // 将返回信息插入到页面中
            $("#res").text(result.res)
        })
    })
</script>
</body>
</html>